/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#fbfaf7;
  color:#1f1f1f;
  overflow-x:hidden;
}

/* LANDING */
#landing{
  position:fixed;
  inset:0;
  z-index:999;
  cursor:pointer;
}

#landing video{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.35);
}

/* MAIN */
#main{
  display:none;
  padding-bottom:60px;
}

/* HERO */
.hero{
  text-align:center;
  padding:40px 20px 10px;
}

.title-img{
  width:80%;
  max-width:380px;
}

/* COUNTDOWN */
.countdown{
  text-align:center;
  padding:40px 20px;
}

.count-box{
  display:flex;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
}

.box{
  background:white;
  padding:14px;
  border-radius:12px;
  min-width:70px;
}

/* GALLERY */
.carousel{
  overflow:hidden;
}

.track{
  display:flex;
  width:max-content;
  animation:scroll 18s linear infinite;
}

.track img{
  width:200px;
  height:200px;
  object-fit:cover;
  margin-right:10px;
  border-radius:14px;
}

@keyframes scroll{
  0%{transform:translateX(0);}
  100%{transform:translateX(-50%);}
}

/* LOCATION */
.location{
  padding:40px 20px;
  text-align:center;
}

.map-buttons{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:15px;
  flex-wrap:wrap;
}

.map-btn{
  padding:12px 16px;
  border-radius:10px;
  text-decoration:none;
  color:#2b2b2b;
  font-weight:600;
  min-width:140px;
  background:#f3e7d3;
}

/* CALENDAR */
.calendar{
  text-align:center;
  padding:40px 20px;
}

.calendar-buttons{
  display:flex;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
  margin-top:15px;
}

.cal-btn{
  padding:12px 16px;
  border-radius:10px;
  text-decoration:none;
  background:#f3e7d3;
  color:#2b2b2b;
  min-width:140px;
  font-weight:600;
}

/* RSVP */
.rsvp{
  text-align:center;
  padding:40px 20px;
}

.rsvp input{
  width:85%;
  max-width:320px;
  padding:12px;
  margin-top:10px;
  border:1px solid #ddd;
  border-radius:10px;
}

.rsvp button{
  width:85%;
  max-width:320px;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#f3e7d3;
  font-weight:600;
  cursor:pointer;
}

#msg{
  margin-top:10px;
  font-size:14px;
}

/* FOOTER */
.footer{
  text-align:center;
  font-size:12px;
  opacity:0.5;
  padding:30px 10px;
}